body {
    margin: 0;
    font-family: "SUSE", sans-serif;
    text-align: center;
}

#hero {
    background-image: url("image/nigeria-image.png");
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.hero-title {
    background: #004697;
    margin-top: 180px;
    border-radius: 10px;
    padding: 4px 12px;
}

.hero-text {
    background: #3975C5;
    width: 518px;
    border-radius: 10px;
    padding: 7px 29px;
}

#activities {
    background-color: #006CD8;
    padding: 50px 2em 30px;
    box-sizing: border-box;
}

.activities-title {
    margin: 0;
    color: #051c36;
}

#activities-house {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 3em;
}

.activities-img {
    border-color: #190E6F;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.activities-h2 {
    color: #051c36;
    margin:  10px auto;
    width: 250px;
}

.activities-h3 {
    color: #051c36;
    margin: auto;
    width: 350px;
}

#david {
    width: 600px;
    margin: 2em auto;
}

.david {
    display: flex;
    flex-wrap: wrap;
    background: #3975C5;
    justify-content: space-around;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 0px 0px #190E6F;
}

.david-img {
    width: 50%;
    border-radius: 10px;
}

.david-text {
    width: 200px;
}

.david-h2 {
    color: #051c36;
    margin-top: 20px;
}

.david-h4 {
    color: #051c36;
    font-size: 20px;
    font-style: italic;
}

.david-h3 {
    color: #051c36;
}

@media (max-width: 750px) {
    .hero-text {
        width: 60%;
    }

    #david {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .activities-img {
        width: 40vw;
        height: 40vw;
    }

    .activities-h2 {
        width: 60%;
    }
    .activities-h3 {
        width: 70%;
    }

    .david-img {
        width: 70vw;
    }
}

@media (max-width: 400px) {
    .hero-title {
        width: 50%;
        margin-top: 30vw;
    }
}